<!DOCTYPE html>
<!--thymeleaf-->
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<!--head-->
<head th:replace="fragments :: page_head(${pageTitle})"></head>

<body>
<div class="container-fluid">
    <!--    NAV BAR-->
    <div th:replace="fragments :: navbar"></div>
    <!--    END NAV BAR-->

    <div>
        <h1>Manage Categories | [[${pageTitle}]]</h1>
    </div>
    <form th:action="@{/categories/save}" method="post" style="max-width: 500px; margin: 0 auto"
          enctype="multipart/form-data"
          onsubmit="return checkUnique(this)"
          th:object="${category}">
        <input type="hidden" th:field="*{id}">
        <div class="border border-secondary rounded p-3">
            <!--         Category Name      -->
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Category Name:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" th:field="*{name}"
                           required minlength="3" maxlength="128">
                </div>
            </div>
            <!--         Alias      -->
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Alias:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" th:field="*{alias}"
                           required minlength="3" maxlength="64">
                </div>
            </div>
            <!--         Parent Category      -->
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Parent Category:</label>
                <div class="col-sm-8">
                    <select class="form-control" th:field="*{parent}">
                        <option value="0">[No Parent]</option>
                        <th:block th:each="cat : ${listCategories}">
                            <option th:value="${cat.id}">[[${cat.name}]]</option>
                        </th:block>
                    </select>
                </div>
            </div>


            <!--         Image      -->
            <div class="form-group row align-items-center">
                <label class="col-sm-4 col-form-label">Image:</label>
                <div class="col-sm-8">
                    <input type="hidden" th:field="*{image}">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" name="fileImage" id="fileImage"
                               th:required="${category.imagePath == null}"
                               accept="image/png, image/jpeg, image/jpg, image/heic">
                        <label class="custom-file-label" for="fileImage">Choose file</label>
                    </div>
                </div>

                <label class="col-sm-4 col-form-label"></label>

                <div class="col-sm-8 mt-2">
                    <img alt="Image preview" th:src="@{${category.imagePath}}"
                         id="thumbnail" class="img-fluid img-thumbnail shadow">
                </div>

            </div>

            <!--         Enabled      -->
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Enabled:</label>
                <div class="col-sm-8">
                    <input type="checkbox" th:field="*{enabled}">
                </div>
            </div>

            <!--     Save and Cancel button       -->
            <div class="text-center">
                <input type="submit" value="Save" class="btn btn-primary m-3">
                <input type="button" value="Cancel" class="btn btn-secondary" id="buttonCancel">
            </div>
        </div>
    </form>
    <!--    modal-dialog check duplicate email error-->
    <div class="modal fade text-center" id="modalDialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modalTitle">Warning</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <span id="modalBody"></span>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>

        </div>

    </div>
<!--    modal dialog-->
    <div th:replace="modal_fragments :: modal_dialog"></div>

    <!--    footer-->
    <div th:replace="fragments :: footer"></div>

</div>
<script type="text/javascript">
    moduleURL="[[@{/categories}]]";

    function checkUnique(form) {
        url ="[[@{/categories/check_unique}]]";
        catId = $("#id").val();
        catName = $("#name").val();
        catAlias= $("#alias").val();
        csrfValue = $("input[name='_csrf']").val();

        params = {id: catId, name: catName, alias: catAlias, _csrf: csrfValue};

        $.post(url, params, function (response) {
            if (response == "OK") {
                form.submit();
            }
            else if (response == "DuplicateName") {
                showWarningModal("There is another category having same name " + catName);
            }
            else if (response == "DuplicateAlias") {
                showWarningModal("There is another category having same alias " + catAlias);
            }
            else {
                showErrorModal("Unknown response from the server")
            }
        }).fail(function () {
            showErrorModal("Could not connect to the server")
        })

        return false;
    }

</script>

<!--common_form.js-->
<script th:src="@{/js/common_form.js}"></script>

</body>

</html>
