<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Categories - Marble Admin')"></head>
<body>
<div class="container-fluid">
    <div th:replace="fragments :: navbar"></div>
    <div>
        <h1>Manage Categories</h1>
        <a th:href="@{/categories/new}" class="fa-solid fa-user-plus fa-2x icon-green"
           title="Create new category"></a>
        &nbsp;&nbsp;
        <a th:href="@{/categories/export/csv}" class="fa-solid fa-file-csv fa-2x icon-green"
           title="Export to CSV"></a>

    </div>

    <!--    SEARCH/FILTER AND ALERT MESSAGE-->
    <div th:replace="fragments :: search_form_and_message('/categories/page/1')"></div>
    <!--    END SEARCH/FILTER AND ALERT MESSAGE-->

    <!--    TABLE (FULL-DETAILS) -->
    <div class="full-details">
        <table class="table table-border table-striped table-hover table-responsive-xl" style="width: 100%">
            <!--            TABLE HEAD-->
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Category Image</th>
                <th  th:replace="fragments :: column_link('/categories','name', 'Category Name','none')"></th>
                <th class="hideable-column">Alias</th>
                <th>Enable</th>
                <th></th>

            </tr>
            </thead>
            <!--            END TABLE HEAD-->
            <!--            TABLE BODY-->
            <tbody>
            <tr th:each="category : ${listCategories}">
                <td>[[${category.id}]]</td>
                <td>
                    <img th:src="@{${category.imagePath}}"  alt="category-image"
                         style="width:100px" class="img-fluid">
                </td>
                <td>[[${category.name}]]</td>
                <td class="hideable-column">[[${category.alias}]]</td>
                <!--                    ENABLE/DISABLE -->
                <td>
                    <div th:replace="fragments :: status(${category.enabled}, 'category', '/categories/' + ${category.id})"></div>
                </td>
                <!--                    EDIT AND DELETE-->
                <td>
                    <!--                    EDIT -->
                    <div th:replace="fragments :: edit('category', '/categories/edit/' + ${category.id})"></div>
                    &nbsp;

                    <!--                    DELETE-->
                    <div th:replace="fragments :: delete('category', ${category.id},
                    '/categories/delete/' + ${category.id}, ${!category.hasChildren})"></div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
<!--        END TABLE BODY (FULL-DETAILS)-->
<!--        TABLE (LESS-DETAILS)-->
    <div class="less-details">
        <div th:each="category : ${listCategories}" class="row m-1">
            <div class="col-4">
                <img th:src="@{${category.imagePath}}" style="width: 100px" class="img-fluid"/>
            </div>

            <div class="col-8">
                <div>[[${category.name}]]</div>
                <div class="mt-2">
                    <!--        ENABLE/DISABLE               -->
                    <div th:replace="fragments :: status(${category.enabled}, 'category', '/categories/' + ${category.id})"></div>
                    &nbsp;
                    <!--                    EDIT-->
                    <div th:replace="fragments :: edit('category', '/categories/edit/' + ${category.id})"></div>
                    &nbsp;
                    <!--                    DELETE-->
                    <div th:replace="fragments :: delete('category', ${category.id},
                    '/categories/delete/' + ${category.id}, ${!category.hasChildren})"></div>
                </div>
            </div>

        </div>
    </div>
<!--        END TABLE-->


    <!--    pagination when search/filter-->
    <div th:if="${keyword != null}" class="text-center">
        <span><b><i>Search result does not show categories in hierarchical form</i></b></span>
        <div th:replace="fragments :: pagination('/categories','categories')"></div>
    </div>
    <!--    pagination when viewing-->
    <th:block th:unless="${keyword != null}">
        <div th:replace="fragments :: pagination('/categories','top-level categories')"></div>
    </th:block>

    <!-- modal confirmation for delete  -->
    <div th:replace="modal_fragments :: confirm_modal"></div>

    <div th:replace="fragments :: footer"></div>

</div>

<script th:src="@{/js/common_list.js}"></script>
<script type="text/javascript">
    moduleURL = "[[@{/categories}]]";
    entityName = "category";

    $(document).ready(function () {
        $(".link-delete").on("click", function (e) {
            e.preventDefault();
            showDeleteConfirmationModal($(this), entityName);
        });
    });
</script>


</body>
</html>