<!DOCTYPE html>
<!--thymeleaf-->
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<!--head-->
<head th:replace="fragments :: page_head('Users - Marble Admin')"></head>

<body>
<!-- NAV BAR-->
<div class="container-fluid">
    <!--    NAV BAR-->
    <div th:replace="fragments :: navbar"></div>
    <!--    END NAV BAR-->

    <!--    MANAGE USER TEXT & CREATE NEW USER LINK-->
    <div>
        <h1>Manage Users</h1>
        <a th:href="@{/users/new}" class="fa-solid fa-user-plus fa-2x icon-green"
           title="Create new user"></a>
        &nbsp;&nbsp;
        <a th:href="@{/users/export/csv}" class="fa-solid fa-file-csv fa-2x icon-green"
           title="Export to CSV"></a>
        &nbsp;&nbsp;
        <a th:href="@{/users/export/excel}"  class="fa-solid fa-file-excel fa-2x icon-green"
           title="Export to Excel"></a>
        &nbsp;&nbsp;
        <a th:href="@{/users/export/pdf}" class="fa-solid fa-file-pdf fa-2x icon-green"
           title="Export to PDF"></a>

    </div>
    <!--    END MANAGE USER TEXT & CREATE NEW USER LINK-->

    <!--    ALERT MESSAGE-->
    <div th:if="${message != null}" class="alert alert-success text-center">
        [[${message}]]
    </div>
    <!--    END ALERT MESSAGE-->

    <!--    filter-->
    <div th:replace="fragments :: search_form('/users/page/1')"></div>
    <!--    END FILTER-->

    <!--    TABLE (FULL-DETAILS) -->
    <div class="full-details">
        <table class="table table-border table-striped table-hover table-responsive-xl">
            <!--            TABLE HEAD-->
            <thead class="thead-dark">
            <tr>
                <th class="hideable-column">
                    <th  th:replace="fragments :: column_link('id', 'User ID','tag')"></th>
                </th>

                <th>Photos</th>

                <th class="hideable-column">
                    <th  th:replace="fragments :: column_link('email', 'Email','tag')"></th>
                </th>

                <th th:replace="fragments :: column_link('firstName', 'First Name', 'none')"></th>
                <th th:replace="fragments :: column_link('lastName', 'Last Name', 'none')"></th>
                <th>Roles</th>
                <th th:replace="fragments :: column_link('enabled', 'Enabled', 'none')"></th>
                <th></th>
            </tr>
            </thead>
            <!--            END TABLE HEAD-->
            <!--            TABLE BODY-->
            <tbody>
            <tr th:each="user : ${listUsers}">
                <td class="hideable-column">[[${user.id}]]</td>
                <td>
                        <span th:if="${user.photos == null}" class="fa-solid fa-image-portrait fa-3x icon-silver"
                              style="font-size: 100px"></span>
                    <img th:if="${user.photos != null}" th:src="@{${user.photosImagePath}}" alt=""
                         style="width:100px">
                </td>
                <td class="hideable-column">[[${user.email}]]</td>
                <td>[[${user.firstName}]]</td>
                <td>[[${user.lastName}]]</td>
                <td>[[${user.roles}]]</td>
                <!--                    Enabled/Disabled -->
                <td>
                    <a th:if="${user.enabled==true}"
                       th:href="@{'/users/' + ${user.id} + '/enabled/false'}"
                       class="fas fa-check-circle fa-2x icon-green"
                       title="Disable this user">

                    </a>

                    <a th:if="${user.enabled==false}"
                       th:href="@{'/users/' + ${user.id} + '/enabled/true'}"
                       class="fas fa-circle fa-2x icon-gray"
                       title="Disable this user"></a>
                </td>
                <!--                    Edit and Delete Button-->
                <td>
                    <a th:href="@{'/users/edit/' + ${user.id}}"
                       title="Edit this user"
                       class="fa-solid fa-pen-to-square fa-2x icon-green"></a>
                    &nbsp;
                    <a th:href="@{'/users/delete/' + ${user.id}}"
                       class="fa-solid fa-trash fa-2x icon-gray link-delete"
                       th:userId="${user.id}"
                       title="Delete this user"></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!--    END TABLE BODY (FULL-DETAILS)-->
    <!--    TABLE (LESS-DETAILS)-->
    <div class="less-details">
        <div th:each="user : ${listUsers}" class="row m-1">
            <div class="col-4">
                <span th:if="${user.photos == null}" class="fa-solid fa-image-portrait fa-3x icon-silver"
                      style="font-size: 100px"></span>
                <img th:if="${user.photos != null}" th:src="@{${user.photosImagePath}}" alt=""
                     style="width:100px">
            </div>

            <div class="col-8">
                <div>[[${user.fullName}]]</div>
                <div>[[${user.roles}]]</div>
                <div class="mt-2">
                    <a th:if="${user.enabled==true}"
                       th:href="@{'/users/' + ${user.id} + '/enabled/false'}"
                       class="fas fa-check-circle fa-2x icon-green"
                       title="Disable this user">

                    </a>

                    <a th:if="${user.enabled==false}"
                       th:href="@{'/users/' + ${user.id} + '/enabled/true'}"
                       class="fas fa-circle fa-2x icon-gray"
                       title="Disable this user"></a>
                    &nbsp;
                    <a th:href="@{'/users/edit/' + ${user.id}}"
                       title="Edit this user"
                       class="fa-solid fa-pen-to-square fa-2x icon-green"></a>
                    &nbsp;
                    <a th:href="@{'/users/delete/' + ${user.id}}"
                       class="fa-solid fa-trash fa-2x icon-gray link-delete"
                       th:userId="${user.id}"
                       title="Delete this user"></a>
                </div>
            </div>

        </div>
    </div>
    <!--    END TABLE-->

    <!--    pagination-->
    <div th:replace="fragments :: pagination('/users','users')"></div>

    <!-- modal confirmation for delete  -->
    <div th:replace="modal_fragments :: confirm_modal"></div>
    <!--    footer-->
    <div th:replace="fragments :: footer"></div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".link-delete").on("click", function (e) {
            e.preventDefault();
            // alert($(this).attr("href"));
            link = $(this);
            userId = link.attr("userId");
            $("#yesButton").attr("href", link.attr("href"));
            $("#confirmText").text("Are you sure you want to delete this user ID " + userId +"?")
            $("#confirmModal").modal();
        });
    });
    //     Filter User Management Clear Button
    function clearFilter() {
        window.location = "[[@{/users}]]"
    }


</script>
</body>
</html>
