/* users.html*/
*.icon-white {color: white}
*.icon-silver {color: silver}
*.icon-green {color: green}
*.icon-gray {color: gray}
*.icon-dark {color: gray}

/* user_form.html*/
.custom-file-input:hover ~ .custom-file-label {
    background-color: #e9ecef;
}

.custom-file-label {
    height: 40px;  /* increase height */
    font-size: 16px; /* increase font size */
    padding: .375rem .75rem; /* increase padding */
}

.img-thumbnail {
    max-width: 100px;
    max-height: 100px;
}

/* Responsive user list for small, medium, large screen*/
@media screen and (max-width: 768px) {
    /*    small screen */
    div.full-details {display: none}
    div.less-details {display: block}
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    /*    medium screen */
    div.full-details {display: block}
    div.less-details {display: none}
    .hideable-column {display: none}
}

@media screen and (min-width: 1024px) {
    /*    large screen */
    div.less-details {display: none}
    .hideable-column {display: table-cell}
}









