<!DOCTYPE html>
<!--thymeleaf-->
<html lang="en" xmlns:th="http://www.thymeLeaf.org"
      xmlns:sec="https://www.thymeLeaf.org/thymeLeaf-extras-springsecurity6">
<head th:replace="fragments :: page_head('Home - Marble Admin')"></head>
<body>
<div class="container-fluid">
    <!--    NAV BAR-->
    <div th:replace="fragments :: navbar"></div>
    <!--    END NAV BAR-->
    <div>
        <h2>Marble Control Panel</h2>
        Welcome
        <a th:href="@{/account}"
           sec:authentication="principal.fullName" ></a>
        <span sec:authentication="principal.authorities"></span>
    </div>

    <!--    footer-->
    <div th:replace="fragments :: footer"></div>
</div>




</body>
</html>
